main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
}

.parcours-hidden {
    display: none;
}

.simulator-answer-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    width: 200px;
    height: 100px;
    background-color: white;
    border-radius: 12px;
    border: 1px solid black;
    cursor: pointer;
}

.simulator-answer {
    text-align: center;
}

.simulator-block {
    display: flex;
    justify-self: center;
    align-items: center;
}
